/*color palette*/
:root {
  --dark-blue: #142850;
  --dark-blue2: #27496d;
  --med-blue: #0c7b93;
  --bright-blue: #08b1a8;
  --light-blue: #c1dadf;
  --gray: #e5e5e5;
  --white:#fbfcf8;
}

* {               /*tira uma faixa em branco que apareceu entre o header e o main*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 0; 
  padding: 0;
  height: 100%
}

            /*--(Mobile First)--*/
/*----------------HEADER-------------------*/
header{
  background-image: linear-gradient(to left, var(--dark-blue), var(--dark-blue2));
  font-family: "Oxanium", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-size: 20px;
  position: relative;
  z-index: 10; /*para que o menu mobile apareca*/
}
.logo{
  width:64px; 
  height: 64px;
}
.header__checkbox{
  display: none;
}
.header__checkbox:checked ~ .header__nav{
  display: flex;                           /*mostra o header__nav*/
}
.header__open-nav-button{
  position: absolute;
  right: 10px;
  color: var(--bright-blue);
  font-size: 2rem;
  font-weight: 600;
}
.header__nav {
  display: none;
  background-image: linear-gradient(to left, var(--dark-blue), var(--dark-blue2));
  position:absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: -1; /*para que o menu mobile apareca*/
}
.header__nav-list{
  display: flex;
  flex-direction: column;
  height: 40vh;
  margin: auto;
  list-style-type:none;
}
.header__nav-list-links li{
  margin-bottom: 15px;
}
.header__nav-list-links a{
  color: var(--white);
  text-decoration: none;
}
.header__nav-list-links a:hover{
  color: var(--bright-blue);
}
.header__button{
  background-color: transparent;
  border: 1px solid var(--bright-blue);
  color: var(--bright-blue);
  padding: 10px;
  font-family: "Oxanium", sans-serif;
  font-size: 17px;
  border-radius: 3px;
}
.header__button:hover{
  border: none;
  background-image: linear-gradient(to left, var(--dark-blue), var(--dark-blue2), var(--med-blue));
  animation: animate 10s linear infinite;
  background-size: 500%;
}

/*---------------------- FIN HEADER----------------------------*/

/* -------------------- INDEX ----------------------------*/
/*generales*/
main, section, footer{
  position: relative; /*em relacao ao video*/
  z-index: 2; /*para ficar na frente do video mas atras do menu mobile*/
}
.line{
  background-image: linear-gradient(to right, var(--light-blue), var(--bright-blue));
  height: 2px;
}
/* titles */
.section-title {
  text-align: center;
  padding: 25px;
  background-image: linear-gradient(to left, var(--dark-blue), var(--dark-blue2));
  color: var(--white);
  font-size: 17px;
}
.section-title h2{
  font-family: "Oxanium", sans-serif;
  font-size: 30px;
}
.main-title{
  margin: 0;
  line-height: 1;
  font-size: 60px;
  font-family: "Oxanium", sans-serif;
  font-weight: 600;
  color: transparent;
  background-clip: text;
  -webkit-background-size: 500%;
  background-image: linear-gradient(to left, var(--med-blue), var(--bright-blue), var(--light-blue));
  animation: animate 10s linear infinite;
  background-size: 500%;
}

/*-----background video------*/
.video-background {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%; 
  min-height: 100%; 
  width: auto;
  height: auto;
  z-index: 1;
  transform: translate(-50%, -50%); /* Centraliza o vídeo */
}

/*------PARTE 1 - Presentacion------*/

.presentation {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  width: 100%;
  height: auto; 
  align-items: center; /* Para centralizar verticalmente*/
  justify-content: center;
  background-color: #d1d2d885; ;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.presentation__box-1 {
  padding: 20px;
}
.presentation__box-2 {
  background-color: #e7ecefb2 ;
  padding: 15px 50px;
  border-radius: 5px;
  line-height: 2;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.280);
}
.presentation__box-2 span{
  color: var(--med-blue);
  font-weight: bold;
}
.presentation__box-3 {
  justify-content: center;
  margin-top: 0; 
  padding: 50px;
}

/* ANIMACION PARA EL H1 Y HEADER__BUTTON*/
@keyframes animate{
  0%{
    background-position: 0 100%;
  }
  50%{
    background-position: 100% 0;
  }
  100%{
    background-position: 0 100%;
  }
}

/*---- PARTE 2 - Servicios ------*/
.services {
  width: 100%;
  background-color: var(--gray);
  background-size: 100% 100%;
  background-attachment: fixed;
  padding: 20px;
}
.services__box{
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding: 20px;
  transition: background-color 0.4s ease;
}
.services__box:hover{
  background-color: var(--light-blue);
}
.services__box a {
  color: inherit;
  text-decoration: none;
}
.services__box a:last-child{
  margin-left: auto;
  padding-top: 20px;
}
.services__icon{
  width:54px; 
  height: 54px;
}
.services__title{
  font-family: "Oxanium", sans-serif;
  font-size: 15px;
  padding-bottom: 10px;
  color: var(--dark-blue);
}


/*---- PARTE 3 - WHY SafeBox ------*/
.whysafebox{
  padding: 20px;
  background-color: #e5e5e5ba;
  margin: 10px;
  color: var(--dark-blue);
}
.whysafebox__reasons-wrap{
  justify-items: center;
}
.whysafebox__reasons{
  justify-items: center;
  text-align: center;
  background-color: var(--dark-blue);
  color: var(--white);
  border-radius: 3px;
  margin: 20px;
  padding: 20px;
  width: 80%;
}
.whysafebox__reasons-icon{
  width:50px; 
  height: 50px;
}

/* --------------  FIN INDEX -----------------------*/

/*---------------- FOOTER --------------------------*/
footer{
  display: flex;
  flex-direction: column;
  background-color: var(--dark-blue);
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}
.footer__logo{
  width:64px; 
  height: 64px;
  margin-top: 10px;
  margin-bottom: 10px;

}
.Social-media-icons img{
  height: 15px;
  width: 15px;
  cursor: pointer; 
  margin-left: 10px;
}
.footer__nav a, .footer__TC-links a{
  text-decoration: none;
  color: var(--white);
  font-size: 12px;
}

.footer__nav h4{
  font-family: "Oxanium", sans-serif;
  font-size: 12px;
  color: var(--bright-blue);
  padding-top: 20px;
}
.footer__nav li{
  list-style: none;
}

.footer__button{
  padding-top: 20px;
}

.footer__TC-links{
  display: flex;
  align-items: center; 
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 20px; 
  font-size: 9px;
  color: var(--white);  

}
/*----------------- FIN DEL FOOTER------------------*/

/*-----------------SERVICE PAGE---------------------*/
.service-page_backgroud {
  background-color: var(--gray);
  margin: 0; 
  padding: 50px;
}
.service-page__title{
  font-family: "Oxanium", sans-serif;
  color: var(--med-blue);
  text-align: center;
  margin: 0;
  padding-bottom: 30px;
}
.service-page__details {
  border: 1px solid var(--bright-blue); 
  border-radius: 5px; 
  padding: 10px; 
  margin: 0 auto; 
  width: 90%;
  background-color: var(--white);

}
.service-page__summary{
  font-family: "Oxanium", sans-serif;
  list-style: none;
  cursor: pointer; 
  padding: 5px; 
  height: 70px;
}
.service-page__summary img {
  vertical-align: middle;
}
.services__icon,
.expand-icon {
    display: inline-block; /*para centralizar verticalmente*/
    vertical-align: middle; 
}
.expand-icon {
  margin-left: 10px; 
  color: var(--med-blue);
}

/*-------------FIN DEL SERVICE PAGE------------------*/

/*-------------ABOUT US PAGE-------------------------*/
.aboutus{
  background: linear-gradient(to bottom, var(--dark-blue), var(--dark-blue2), var(--med-blue));
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.aboutus__video {
  position: relative;
  display: flex;
  justify-content: center;
}
.aboutus__video video{
  margin: 5%;
  max-width: 80%;
}

.aboutus__title, .aboutus__ourvision-title{
  font-family: "Oxanium", sans-serif;
  color: var(--med-blue);
}
.aboutus__title{
position: absolute;
background-color: var(--white);
font-size: 2em;
z-index: 1;
padding: 10px 20px;
top: 15%;
left: 20%;
transform: translate(-50%, -50%);
}
/*carousel*/
.carousel{
  margin: 40px;
}
.carousel-title{
  display: inline-block;
  font-family: "Oxanium", sans-serif;
  color: var(--dark-blue);
  background-color: var(--gray);
  padding: 10px;
}
.d-block{
  box-shadow: 5px 5px 10px var(--dark-blue) ;
}
/* fin del carousel*/

.aboutus__ourvision {
  margin: 20px;
  background-color: var(--gray);
  color: var(--dark-blue);
  padding: 60px;
  margin-bottom: 50px;
}

.aboutus__work{
  padding: 30px;
  background-color: var(--white);
  box-shadow: 0 0 20px var(--dark-blue) ;
}
.aboutus__work-button-box{
  position: relative;
  width: 80%;
  margin: auto;
  background: linear-gradient(to right, var(--gray), var(--white));
  padding: 20px;
  text-align: center;
}
.aboutus__work-button-box::before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), var(--white));
  z-index: -1;
  filter: blur(10px); /* Ajusta a intensidade da sombra */
  transform: translateX(-10px); /* Posiciona a sombra à esquerda */
}
.aboutus__work-button-box h3{
  font-family: "Oxanium", sans-serif;
  color: var(--dark-blue);
  padding-bottom: 30px;
}
.aboutus__work-text{
  padding: 30px;
}
.aboutus__work-text li{
  padding: 5px;
}
.aboutus__work-text span{
  font-family: "Oxanium", sans-serif;
  color: var(--med-blue);
  font-weight: bold;
}
/*------------- FIN ABOUT US PAGE----------------------*/

/*--------------ARTICLES PAGE-------------------------*/
.articles-background{
  background-color: var(--gray);
}
.articles-page__title{
  font-family: "Oxanium", sans-serif;
  color: var(--med-blue);
  text-align: center;
  padding-top: 40px;
  margin: 0;
}
.articles-page__subtitle{
  display: inline-block;
  position: relative;
  z-index: 1; /*para el efecto de integracion entre titulo y section*/
  font-family: "Oxanium", sans-serif;
  color: var(--dark-blue);
  font-weight: 800;
  margin-top: 50px;
  margin-left: 15px;
  padding: 5px;
  border: 1px solid var(--dark-blue2); 
  border-bottom: none;
  background-color: var(--white);
}


.highlights, .all-articles{
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 0; /*para el efecto de integracion entre titulo y section*/
  margin-top: -1px;
  background-color: var(--white);
  padding-bottom: 30px;
  justify-content: center;
  align-items: center; 
  border: 1px solid var(--dark-blue2); 
}
.highlights__article{
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 20px auto;
}
.highlights__article:last-child{
  border-top: 1px solid var(--dark-blue);
}
.highlights__article-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.highlights__article-content img {
  max-width: 100%; /*de lo contrario el contenido ultrapasa el tamno del box*/
  height: auto;
}
.article-page__article-title{
  text-decoration: none;
  color: var(--dark-blue);
}
.highlights__article-footer{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}


.all-articles__box{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--dark-blue2);
  width: 100%;
  background-color: var(--white);
}
.all-articles__box small{
  padding-left: 10px;
  padding-bottom: 20px;
  order: 2;
}
.all-articles__article{
  display: flex;
  padding: 20px;
}
.all-articles__article-content{
  padding: 20px;
  flex: 1;
}
.all-articles__article-img {
  display: flex; /*para poder justificar el Read more> a la derecha*/
  flex-direction: column;
  width: 50%; 
  flex: 0 0 50%;
}
.all-articles__article-img img{
  max-width: 100%;
  height: auto; 
  max-height: 200px; 
}
.all-articles__article-img a:last-child{
  margin-left: auto;
}

/*-------------- FIN ARTICLES PAGE-------------------------*/

/*--------------CONTACT PAGE-------------------------*/
              /*mobile first*/
.contac-section{
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to left, var(--dark-blue), var(--dark-blue2));
}
.contact-section__part1{
  margin: 20px;
  max-width: 600px;
}
.contact-section__part1 h2{
  margin-bottom: 20px;
  color: var(--white);
}
.contact-section__part1 p{
  color: var(--white);
}

.contact-section__form{
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  box-shadow: 0 0 5px var(--dark-blue);
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
}
.contact-section__form legend{
  margin-bottom: 20px;
  font-size: 1.2em;
}
.contact-section__form label{
  display: none;
}
.contact-section__form input, .contact-section__form textarea {
  border: none;
  border-bottom: 1px solid var(--dark-blue);
  background-color: transparent;
  width: 95%;
  margin: 10px;
  resize: none;
}
.contact-section__form textarea{
  height: 80px;
  position: relative;
  font-family: Arial, sans-serif;
}
.contact-section__form textarea::placeholder {
  position: absolute;
  bottom: 2px; 
  left: 2px; 
}
.contact-section__form button{
  cursor: pointer;
  background-color: var(--bright-blue);
  color: var(--white);
  font-family: "Oxanium", sans-serif;
  border: transparent;
  border-radius: 2px;
  padding: 5px 15px;
  width: 30%;
  margin-left: auto;
}

.other-contact{
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.other-contact img{
  width: 20px;
  height: 20px;
}
.other-contact__channels h2{
  padding-bottom: 30px;
}
.other-contact__channels li{
  list-style: none;
  padding-bottom: 10px;
}
.other-contact__channels li:last-child{
  padding-bottom: 20px;
}
.other-contact__subtitle{
  font-family: "Oxanium", sans-serif;
  color: var(--dark-blue2);
  font-weight: bold;
}

.other-contact__channels, .other-contact__location {
  margin-top: 40px;
}
.other-contact__location{
  margin-bottom: 40px;
}
.other-contact__location-map{
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; /* para preservar el Aspect Ratio */
}
.other-contact__location-map iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

/*-------------- FIN CONTACT PAGE-------------------------*/

/*----------------------------------------------------RESPONSIVIDAD para TABLET / PC---------------------------------------------------------------------*/

@media screen and (min-width: 600px){
  .header__open-nav-button{
    display: none
  }
  .header__nav{
    display: flex;
    position: static; /*saca el position absolute*/
    height: auto;
    width: 100%;
    justify-content: space-between;
    background-image: none;
  }
  .header__nav-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    height: auto;
    width: 100%;
  }
  .header__nav-list-links{
    display: flex; /* Flex para os itens à esquerda */
    justify-content: center; /* Centraliza os itens */
    flex-grow: 1; /* Permite que ocupe o espaço restante */
  }
  .header__nav-list li {
    margin: 0 10px;
  }

  /*------ INDEX PARTE 1 - Presentacion ------*/
  .presentation {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto 1fr; 
    justify-content: center;
    justify-items: center;
    gap: 0;
    padding-left: 30px;
  }
  .presentation__box-1 {
    grid-column: 1; 
    grid-row: 1; 
  }
  .presentation__box-2{
    grid-column: 2; 
    grid-row: 1; 
    margin-top: 20px;
    margin-right: 20px;
  }
  .presentation__box-3 {
    grid-column: 1 / span 2; 
    grid-row: 2; 
  }
  /*------ INDEX PARTE 2 - Servicios ------*/

  .services__grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
  }
  .services__box:nth-child(1){
    border-bottom: 1px solid var(--dark-blue);
  }
  .services__box:nth-child(2), .services__box:nth-child(3) {
    border-left: 1px solid var(--dark-blue);
    border-bottom: 1px solid var(--dark-blue);
  }
  .services__box:nth-child(5), .services__box:nth-child(6) {
    border-left: 1px solid var(--dark-blue);
  }

    /*------ INDEX PARTE 3 - WHY SafeBox ------*/
  .whysafebox__reasons-wrap{
    display: flex;
    margin-top: 20px;
  }


/*---------- CONTACT PAGE----------*/
  .contac-section, .other-contact{
    flex-direction: row;
    justify-content: center;
  }
  .contact-section__form{
    min-width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-section__form legend, .contact-section__form textarea{
    grid-column: 1 / span 2;
  } 
  .contact-section__form button {
    grid-column: 2;
    width: auto; /*arregla el problema de que el button estaba cortando la palavra "send"*/
  }
  .other-contact__location, .other-contact__channels{
    margin: 40px;
    }
  .other-contact__location{
    width: 50%;
    max-width: 400px;
  }

  /*------------ ABOUT US PAGE---------*/
.aboutus{
  display: grid;
  background-color: var(--dark-blue);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
  margin: 0 auto;
}
.Aboutus__title{
  position: relative;
  top: 30px;
  left: 100px;
}
.aboutus__video {
  grid-column: 2; 
  grid-row: 1; 
}
.aboutus__video video{
  max-width: 100%;
}
.carousel{
  max-width: 500px;
  grid-column: 1;
  grid-row: 1;
  margin: auto;
  margin-top: 20px;
}



.aboutus__ourvision {
  grid-column: 1 /span 2; 
  grid-row: 2; 
}

.aboutus__work{
  display: flex;
}
.aboutus__work--button-box{
  position: relative;
  width: 80%;
  max-width: 500px;
  background: linear-gradient(to right, var(--gray), var(--white));
  padding: 20px;
  text-align: center;
}
.aboutus__work-text{
  width: 50%;
}

/*------------------ ARTICLES -------------*/


.highlights, .all-articles__box{
  flex-direction: row;
}
.highlights__article:first-child{
  flex: 2;
}
.highlights__article:last-child{
  flex: 1;
  border-top: none;
  border-left: 1px solid var(--dark-blue);
}
.all-articles__box small{
  order: 0;
  padding: 50px;
  white-space: nowrap;
}
.all-articles__article-img a:last-child{
  margin-left: 0;
}
/*-------------FOOTER---------*/
  footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto, auto;
    justify-items: center;
  }
  .footer__logo{
    grid-column: 1;
    grid-row: 1;
    transform: translateY(30px);
    margin-bottom: 0;
  }
  .Social-media-icons{
    grid-column: 1;
    grid-row: 2;
  }
  .footer__nav:nth-of-type(1) {
    grid-column: 2;
    grid-row: 1 /span 2;
    padding-bottom: 20px;
  } 
  .footer__nav:nth-of-type(2) {
    grid-column: 3;
    grid-row: 1 /span 2;
    padding-bottom: 20px;
  }
  .footer__button{
    grid-column: 4;
    grid-row: 1;
  }
  .footer__TC-links{
    grid-column: 4;
    grid-row: 2;
    flex-direction: column;
  }
}


/* para telas > 1600px */
@media screen and (min-width: 1600px){
  /*------------ ABOUT US PAGE---------*/
  .timeline{
    grid-column: 1;
    grid-row: 1;
  }
}
