@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 20px;
  font-family: "Oxanium", sans-serif;
}

/* ANIMACIONES*/
@keyframes animate {
  0% {
    background-position: 0 100%;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 100%;
  }
}
@keyframes translate-y {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 20px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-10px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
/*--(Mobile First)--*/
/*=============== HEADER ===============*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to left, #142850, #27496d);
  padding: 0 20px;
  font-size: 20px;
  position: relative;
  z-index: 10; /*para que el menu mobile aparezca*/
}

.logo {
  width: 64px;
  height: 64px;
}

.header__checkbox {
  display: none;
}

.header__checkbox:checked ~ .header__nav {
  display: flex;
  /*muestra el header__nav*/
}

.header__open-nav-button {
  position: absolute;
  right: 10px;
  color: #08b1a8;
  font-size: 2em;
  font-weight: 600;
  font-weight: 600;
}

.header__nav {
  display: none;
  background-image: linear-gradient(to left, #142850, #27496d);
  position: absolute;
  top: 0;
  z-index: -1; /*para que aparezca el menú en mobile*/
  width: 100vw;
  height: 100vh;
}

.header__nav-list {
  display: flex;
  flex-direction: column;
  height: 40vh;
  margin: auto;
  list-style-type: none;
}

.header__nav-list-links li {
  margin-bottom: 15px;
}
.header__nav-list-links a {
  display: inline-block;
  color: #fbfcf8;
  text-decoration: none;
  transition: transform 0.3s ease;
}
.header__nav-list-links a:hover {
  color: #08b1a8;
  transform: scale(1.2);
}

.header__button {
  background-color: transparent;
  border: 1px solid #08b1a8;
  border-radius: 3px;
  padding: 10px;
  font-family: "Oxanium", sans-serif;
  font-size: 17px;
  font-weight: normal;
  color: #08b1a8;
  font-weight: normal;
}
.header__button:hover {
  border: none;
  cursor: pointer;
  background-image: linear-gradient(to left, #0c7b93, #08b1a8, #c1dadf);
  animation: animate 10s linear infinite;
  background-size: 500%;
}

/*=============== FIN HEADER===============*/
/*=============== FOOTER ===============*/
footer {
  position: relative; /*en relacion al video*/
  z-index: 2;
  display: flex;
  flex-direction: column;
  background-color: #142850;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.footer__logo {
  width: 64px;
  height: 64px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Social-media-icons a img {
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin: 0 10px;
}

.footer__nav h4 {
  padding-top: 20px;
  font-size: 12px;
  font-weight: normal;
  color: #08b1a8;
  font-weight: normal;
}
.footer__nav li {
  list-style: none;
}
.footer__nav li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: normal;
  color: #fbfcf8;
  font-weight: normal;
}

.footer__button {
  padding-top: 20px;
}

.footer__TC-links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  font-weight: normal;
  color: #fbfcf8;
  font-weight: normal;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 20px;
}
.footer__TC-links a {
  text-decoration: none;
  font-size: 15px;
  font-weight: normal;
  color: #fbfcf8;
  font-weight: normal;
}

/*=============== FIN DEL FOOTER ===============*/
/* =============== INDEX ===============*/
/*generales*/
main, section {
  position: relative; /*en relacion al video*/
  z-index: 2; /*estar adelante del vídeo pero detrás del menú del móvil*/
}

.line {
  background-image: linear-gradient(to right, #c1dadf, #08b1a8);
  height: 2px;
}

/* titles */
.section-title {
  padding: 25px;
  background-image: linear-gradient(to left, #142850, #27496d);
  font-size: 17px;
  font-weight: normal;
  color: #fbfcf8;
  font-weight: normal;
  text-align: center;
}
.section-title h2 {
  font-size: 30px;
  font-weight: normal;
  font-weight: normal;
}

.main-title {
  margin: 0;
  line-height: 1;
  background-clip: text;
  background-size: 500%;
  font-size: 60px;
  font-weight: 600;
  color: transparent;
  font-weight: 600;
  background-image: linear-gradient(to left, #0c7b93, #08b1a8, #c1dadf);
  animation: animate 10s linear infinite;
  background-size: 500%;
}

/*-----background video------*/
.video-background {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%); /* Centraliza el vídeo */
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}

/*------PARTE 1 - Presentacion------*/
.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: translate-y 3s ease forwards;
  width: 100%;
  height: auto;
  gap: 10px;
  padding-top: 50px;
  background-color: rgba(209, 210, 216, 0.5215686275);
  background-size: 100% 100%;
  background-attachment: fixed;
}

.presentation__box-1 {
  padding: 20px;
}
.presentation__box-1 h2 {
  font-weight: normal;
  color: #142850;
  font-weight: normal;
}

.presentation__box-2 {
  background-color: rgba(231, 236, 239, 0.6980392157);
  padding: 40px 50px;
  border-radius: 5px;
  line-height: 2;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.28);
}
.presentation__box-2 span {
  font-weight: bold;
  color: #0c7b93;
  font-weight: bold;
}

.presentation__box-3 {
  justify-content: center;
  margin-top: 0;
  padding: 50px;
}

/*---- PARTE 2 - Servicios ------*/
.services {
  width: 100%;
  background-color: #e5e5e5;
  background-size: 100% 100%;
  background-attachment: fixed;
  padding: 20px;
}

.services__box {
  display: flex;
  flex-direction: column;
  background-color: #fbfcf8;
  padding: 20px;
  transition: background-color 0.4s ease;
  opacity: 0;
}
.services__box:nth-child(1) {
  animation-delay: 0s;
  animation: opacity 1s ease-in-out 0s forwards;
}
.services__box:nth-child(2) {
  animation-delay: 0.5s;
  animation: opacity 1s ease-in-out 0.5s forwards;
}
.services__box:nth-child(3) {
  animation-delay: 1s;
  animation: opacity 1s ease-in-out 1s forwards;
}
.services__box:nth-child(4) {
  animation-delay: 1.5s;
  animation: opacity 1s ease-in-out 1.5s forwards;
}
.services__box:nth-child(5) {
  animation-delay: 2s;
  animation: opacity 1s ease-in-out 2s forwards;
}
.services__box:nth-child(6) {
  animation-delay: 2.5s;
  animation: opacity 1s ease-in-out 2.5s forwards;
}
.services__box:hover {
  background-color: #c1dadf;
}
.services__box a {
  color: inherit;
  text-decoration: none;
}
.services__box a:last-child {
  margin-left: auto;
  padding-top: 20px;
}

.services__icon, .expand-icon {
  width: 54px;
  height: 54px;
}

.services__title {
  padding-bottom: 10px;
  font-size: 15px;
  font-weight: normal;
  color: #142850;
  font-weight: normal;
}

/*---- PARTE 3 - WHY SafeBox ------*/
.whysafebox {
  padding: 20px;
  background-color: rgba(229, 229, 229, 0.7294117647);
  margin: 10px;
  color: #142850;
}
.whysafebox p:first-child {
  padding-top: 50px;
}

.whysafebox__reasons-wrap {
  justify-items: center;
}

.whysafebox__reasons {
  justify-items: center;
  text-align: center;
  background-color: #142850;
  color: #fbfcf8;
  border-radius: 3px;
  margin: 20px;
  padding: 20px;
  width: 80%;
}

.whysafebox__reasons-icon {
  width: 50px;
  height: 50px;
}

/* =============== FIN INDEX ===============*/
/*=============== ABOUT US PAGE ===============*/
.aboutus {
  background: linear-gradient(to bottom, #142850, #27496d, #0c7b93);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutus__title, .aboutus__ourvision-title {
  color: #08b1a8;
}

.aboutus__title {
  margin: 40px;
  opacity: 0;
  font-size: 60px;
  font-weight: normal;
  font-weight: normal;
  animation-delay: 0.1s;
  animation: opacity 1s ease-in-out 0.1s forwards;
}

/*carousel*/
.carousel {
  margin: 40px;
}

.carousel-title {
  display: inline-block;
  color: #142850;
  background-color: #e5e5e5;
  padding: 10px;
}

.carousel-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
}
.carousel-content img {
  max-width: 500px;
}
.carousel-content p {
  padding: 45px;
}

.d-block {
  box-shadow: 5px 5px 10px #142850;
}

/* fin del carousel*/
.aboutus__ourvision {
  margin: 40px;
  background-color: #e5e5e5;
  color: #142850;
  padding: 60px;
  margin-bottom: 50px;
  animation: translate-y 3s ease forwards;
}
.aboutus__ourvision p {
  max-height: 150px;
  overflow-y: auto;
  padding-right: 10px;
}

.aboutus__work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #fbfcf8;
  box-shadow: 0 0 20px #142850;
}

.aboutus__work-button-box {
  position: relative;
  width: 80%;
  margin: auto;
  background: linear-gradient(to right, #e5e5e5, #fbfcf8);
  padding: 20px;
  text-align: center;
}
.aboutus__work-button-box::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), #fbfcf8);
  z-index: -1;
  filter: blur(10px); /* Ajusta la intensidad de la sombra */
  transform: translateX(-10px); /* Coloca la sombra a la izquierda */
}
.aboutus__work-button-box h3 {
  color: #142850;
  padding-bottom: 30px;
}

.aboutus__work-button {
  background-color: transparent;
  border: 1px solid #08b1a8;
  border-radius: 3px;
  padding: 10px;
  font-family: "Oxanium", sans-serif;
  font-size: 17px;
  font-weight: normal;
  color: #08b1a8;
  font-weight: normal;
}
.aboutus__work-button:hover {
  cursor: pointer;
  animation: float 3s ease-in-out infinite;
}

.aboutus__work-text {
  padding: 30px;
}
.aboutus__work-text li {
  padding: 5px;
}
.aboutus__work-text li span {
  color: #0c7b93;
  font-weight: bold;
}

/*===============FIN ABOUT US PAGE===============*/
/*===============SERVICE PAGE ===============*/
.service-page_backgroud {
  background-color: rgba(209, 210, 216, 0.6509803922);
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative; /*en relacion al video*/
  z-index: 2; /*estar adelante del vídeo pero detrás del menú del móvil*/
}

/*-----background video------*/
.video-background {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%); /* Centraliza el vídeo */
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}

.service-page__title {
  color: #0c7b93;
  text-align: center;
  margin: 0;
  padding-bottom: 30px;
}

.service-page__details {
  border: 1px solid #08b1a8;
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto;
  background-color: #fbfcf8;
  opacity: 0;
}
.service-page__details:nth-child(2) {
  animation-delay: 0s;
  animation: opacity 1s ease-in-out 0s forwards;
}
.service-page__details:nth-child(3) {
  animation-delay: 0.5s;
  animation: opacity 1s ease-in-out 0.5s forwards;
}
.service-page__details:nth-child(4) {
  animation-delay: 1s;
  animation: opacity 1s ease-in-out 1s forwards;
}
.service-page__details:nth-child(5) {
  animation-delay: 1.5s;
  animation: opacity 1s ease-in-out 1.5s forwards;
}
.service-page__details:nth-child(6) {
  animation-delay: 2s;
  animation: opacity 1s ease-in-out 2s forwards;
}
.service-page__details:nth-child(7) {
  animation-delay: 2.5s;
  animation: opacity 1s ease-in-out 2.5s forwards;
}
.service-page__details:hover {
  background-color: #c1dadf;
  border: 2px solid #08b1a8;
}
.service-page__details .service-page__summary {
  list-style: none;
  cursor: pointer;
  padding: 5px;
  height: 70px;
  font-size: 15px;
}
.service-page__details .service-page__summary img {
  vertical-align: middle;
}
.service-page__details p {
  font-size: 15px;
  font-weight: normal;
  font-weight: normal;
  padding: 20px;
}
.service-page__details ul li {
  font-size: 14px;
  font-weight: normal;
  font-weight: normal;
  padding: 10px;
  margin-left: 30px;
}
.service-page__details ul li span {
  font-size: 14px;
  font-weight: bold;
  color: #142850;
  font-weight: bold;
}
.service-page__details .service-page__details-link {
  font-size: 14px;
  font-weight: normal;
  color: #0c7b93;
  font-weight: normal;
  text-decoration: none;
  font-family: "Oxanium", sans-serif;
  padding: 20px;
}

.services__icon, .expand-icon {
  display: inline-block; /*para centralizar verticalmente*/
  vertical-align: middle;
}

.expand-icon {
  margin-left: 10px;
  color: #0c7b93;
}

/*=============== FIN DEL SERVICE PAGE ===============*/
/*===============ARTICLES PAGE===============*/
.articles-background {
  background-color: #e5e5e5;
}

.articles-page__title {
  padding-top: 40px;
  margin: 0;
  font-family: "Oxanium", sans-serif;
  color: #0c7b93;
  text-align: center;
}

.articles-page__subtitle {
  display: inline-block;
  position: relative;
  z-index: 1; /*para el efecto de integracion entre titulo y section*/
  margin-top: 50px;
  margin-left: 15px;
  padding: 5px;
  border: 1px solid #27496d;
  border-bottom: none;
  background-color: #fbfcf8;
  font-family: "Oxanium", sans-serif;
  font-weight: 800;
  color: #142850;
  font-weight: 800;
}

.highlights, .all-articles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 100%;
  color: auto;
  font-weight: 100%;
  position: relative;
  z-index: 0; /*para el efecto de integracion entre titulo y section*/
  margin-top: -1px;
  margin-bottom: 30px;
  background-color: #fbfcf8;
  padding-bottom: 30px;
  border: 1px solid #27496d;
}

.highlights__article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fbfcf8;
  padding: 20px;
  margin: 20px auto;
}
.highlights__article:last-child {
  border-top: 1px solid #142850;
}

.highlights__article-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.highlights__article-content img {
  height: auto;
  max-width: 100%;
}

.highlights__article-title, .all-articles__article-title {
  text-decoration: none;
  color: #142850;
  padding-top: 20px;
}

.highlights__article-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}

.all-articles__box {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #27496d;
  width: 100%;
  background-color: #fbfcf8;
}

.all-articles__article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 1rem;
  grid-template-areas: "title img" "paragraph paragraph" "date date";
  padding: 20px;
}

.all-articles__date {
  grid-area: date;
}

.all-articles__article-title {
  grid-area: title;
}

.all-articles__paragraph {
  grid-area: paragraph;
}

.all-articles__article-img {
  grid-area: img;
}
.all-articles__article-img img {
  height: auto;
  max-width: 100%;
  max-height: 200px;
}

/*===============FIN ARTICLES PAGE===============*/
/*===============CONTACT PAGE===============*/
/*mobile first*/
.contac-section {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to left, #142850, #27496d);
  padding: 70px;
}

.contact-section__part1 {
  margin: 20px;
  max-width: 600px;
}

.contact-section__part1 h2 {
  margin-bottom: 20px;
  color: #fbfcf8;
}
.contact-section__part1 p {
  color: #fbfcf8;
}

.contact-section__form {
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation-delay: 0.5s;
  animation: opacity 1s ease-in-out 0.5s forwards;
  background-color: #fbfcf8;
  box-shadow: 0 0 5px #142850;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
}
.contact-section__form legend {
  margin-bottom: 20px;
  font-size: 1.2em;
}
.contact-section__form label {
  display: none;
}
.contact-section__form input, .contact-section__form textarea {
  border: none;
  border-bottom: 1px solid #142850;
  background-color: transparent;
  width: 95%;
  margin: 10px;
  resize: none;
}
.contact-section__form textarea {
  height: 80px;
  position: relative;
  font-family: Arial, sans-serif;
}
.contact-section__form textarea::placeholder {
  position: absolute;
  bottom: 2px;
  left: 2px;
}
.contact-section__form button {
  cursor: pointer;
  background-color: #08b1a8;
  color: #fbfcf8;
  font-family: "Oxanium", sans-serif;
  border: transparent;
  border-radius: 2px;
  padding: 5px 15px;
  width: 30%;
  margin-left: auto;
}

.other-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e5e5e5;
  padding: 70px;
}
.other-contact img {
  width: 20px;
  height: 20px;
}

.other-contact__channels, .other-contact__location {
  margin-top: 40px;
}
.other-contact__channels h2, .other-contact__location h2 {
  padding-bottom: 30px;
}
.other-contact__channels ul li, .other-contact__location ul li {
  list-style: none;
  padding-bottom: 10px;
}
.other-contact__channels ul li:last-child, .other-contact__location ul li:last-child {
  padding-bottom: 20px;
}

.other-contact__subtitle {
  font-family: "Oxanium", sans-serif;
  font-weight: bold;
  color: #27496d;
  font-weight: bold;
}

.other-contact__location {
  margin-bottom: 40px;
}

.other-contact__location-map {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; /* para preservar el Aspect Ratio */
}
.other-contact__location-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 10px;
  width: 100%;
  height: 100%;
}

/*=============== FIN CONTACT PAGE===============*/
/* ################################################ RESPONSIVIDAD para TABLET / PC #######################################################*/
@media screen and (min-width: 800px) {
  /*===============HEADER===============*/
  .header__open-nav-button {
    display: none;
  }
  .header__nav {
    display: flex;
    position: static; /*saca el position absolute*/
    justify-content: space-between;
    background-image: none;
    width: 100%;
    height: auto;
  }
  .header__nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
  }
  .header__nav-list-links {
    display: flex; /* Flex para elementos de la izquierda*/
    justify-content: center;
    flex-grow: 1; /* Permite ocupar el espacio restante. */
  }
  .header__nav-list li {
    margin: 0 10px;
  }
  /*===============FOOTER===============*/
  footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto, auto;
    justify-items: center;
  }
  .footer__logo {
    grid-column: 1;
    grid-row: 1;
    transform: translateY(30px);
    margin-bottom: 0;
  }
  .Social-media-icons {
    grid-column: 1;
    grid-row: 2;
  }
  .footer__nav:nth-of-type(1) {
    grid-column: 2;
    grid-row: 1/span 2;
    padding-bottom: 20px;
  }
  .footer__nav:nth-of-type(2) {
    grid-column: 3;
    grid-row: 1/span 2;
    padding-bottom: 20px;
  }
  .footer__button {
    grid-column: 4;
    grid-row: 1;
  }
  .footer__TC-links {
    grid-column: 4;
    grid-row: 2;
    flex-direction: column;
  }
  /*=============== INDEX ===============*/
  /*----------PARTE 1 - Presentacion ------------*/
  .presentation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    justify-content: center;
    justify-items: center;
    gap: 0;
    padding-left: 30px;
  }
  .presentation__box-1 {
    grid-column: 1;
    grid-row: 1;
  }
  .presentation__box-2 {
    grid-column: 2;
    grid-row: 1;
    margin-top: 20px;
    margin-right: 20px;
  }
  .presentation__box-3 {
    grid-column: 1/span 2;
    grid-row: 2;
  }
  /*------------ PARTE 2 - Servicios ------------*/
  .services__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
  }
  .services__box:nth-child(1) {
    border-bottom: 1px solid #142850;
  }
  .services__box:nth-child(2), .services__box:nth-child(3) {
    border-left: 1px solid #142850;
    border-bottom: 1px solid #142850;
  }
  .services__box:nth-child(5), .services__box:nth-child(6) {
    border-left: 1px solid #142850;
  }
  /*------------ PARTE 3 - WHY SafeBox ------------*/
  .whysafebox__reasons-wrap {
    display: flex;
    margin-top: 20px;
  }
  /*=============== SERVICES===============*/
  .service-page__details {
    width: 90%;
    height: auto;
    max-width: 1000px;
  }
  /*=============== ABOUT US===============*/
  .aboutus__ourvision p {
    max-height: none; /* Sem altura máxima para telas grandes */
    overflow: visible;
  }
  /*=============== ARTICLES ===============*/
  .highlights {
    flex-direction: row;
    align-items: flex-start;
  }
  .highlights__article {
    animation: translate-y 3s ease forwards;
  }
  .highlights__article:first-child {
    flex: 2;
  }
  .highlights__article:last-child {
    flex: 1;
    border-top: none;
    border-left: 1px solid #142850;
    animation-delay: 2s;
    opacity: 0;
  }
  .articles-page__subtitle {
    margin-top: 10px;
    margin-left: 130px;
  }
  .all-articles {
    max-width: 90%;
    margin: auto;
    margin-top: -1px;
    margin-bottom: 30px;
  }
  .all-articles__article {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 1rem;
    grid-template-areas: "date title img" "date paragraph img";
    padding: 20px;
  }
  .all-articles__date {
    grid-area: date;
    margin: auto;
  }
  .all-articles__article-title {
    grid-area: title;
  }
  .all-articles__paragraph {
    grid-area: paragraph;
  }
  .all-articles__article-img {
    grid-area: img;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  /*=============== CONTACT PAGE===============*/
  .contac-section, .other-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .contact-section__form {
    min-width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-section__form legend,
  .contact-section__form textarea {
    grid-column: 1/span 2;
  }
  .contact-section__form button {
    grid-column: 2;
    width: auto;
  }
  .other-contact__channels, .other-contact__location {
    margin: 40px;
  }
  .other-contact__location {
    margin: 40px;
    width: 50%;
    max-width: 400px;
  }
}
@media screen and (min-width: 1024px) {
  /*=============== ABOUT US PAGE===============*/
  .carousel-content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .aboutus__work--button-box {
    position: relative;
    background: linear-gradient(to right, #e5e5e5, #fbfcf8);
    padding: 20px;
    text-align: center;
    width: 80%;
    height: auto;
    max-width: 500px;
  }
  .aboutus__work-text {
    width: 50%;
  }
  .aboutus__work {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

/*# sourceMappingURL=styles.css.map */
