@mixin flex-layout($direction: null, $justify: null, $align: null) {
    display: flex;

    @if $direction != null {
        flex-direction: $direction;
    }

    @if $justify != null {
        justify-content: $justify;
    }

    @if $align != null {
        align-items: $align;
    }
}

@mixin animated-gradient($colors...) {
    background-image: linear-gradient(to left, $colors...);
    animation: animate 10s linear infinite;
    background-size: 500%;
}

@mixin text-style($size, $color: null, $weight: normal, $align: null) {
    font-size: $size;
    font-weight: $weight;

    @if $color != null {
        color: $color;
    }

    @if $weight != null {
        font-weight: $weight;
    }
    
    @if $align != null {
        text-align: $align;
    }
}

@mixin size($width, $height, $max-width: null, $max-height: null) {
    width: $width;
    height: $height;

    @if $max-width != null {
        max-width: $max-width;
    }

    @if $max-height != null {
        max-height: $max-height;
    }
}