
/*=============== ABOUT US PAGE ===============*/
.aboutus{
    background: linear-gradient(to bottom, $dark-blue, $dark-blue2, $med-blue);
    @include flex-layout (column, center, center);
}

.aboutus__title, .aboutus__ourvision-title{
    color: $bright-blue;
}
.aboutus__title{
    margin: 40px;
    opacity: 0;
    @include text-style (60px);
    @include opacity(0.1s);
}
/*carousel*/
.carousel{
    margin: 40px;
}
.carousel-title{
    display: inline-block;
    color: $dark-blue;
    background-color: $gray;
    padding: 10px;
}
.carousel-content{
    @include flex-layout(column, center, center);
    background-color: $gray;
    img{
        max-width: 500px; 
    }
    
    p{
        padding: 45px;
    }
}

.d-block{
    box-shadow: 5px 5px 10px $dark-blue;
}
/* fin del carousel*/

.aboutus__ourvision {
    margin: 40px;
    background-color: $gray;
    color: $dark-blue;
    padding: 60px;
    margin-bottom: 50px;
    @include translate-y;

    p{
        max-height: 150px; 
        overflow-y: auto; 
        padding-right: 10px; 
    }
}

.aboutus__work{
    @include flex-layout (column, center, center);
    padding: 30px;
    background-color: $white;
    box-shadow: 0 0 20px $dark-blue ;
}
.aboutus__work-button-box{
    position: relative;
    width: 80%;
    margin: auto;
    background: linear-gradient(to right, $gray, $white);
    padding: 20px;
    text-align: center;

    &::before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        @include size (100%, 100%);
        background: linear-gradient(to right, rgba(0, 0, 0, 0.5), $white);
        z-index: -1;
        filter: blur(10px); /* Ajusta la intensidad de la sombra */
        transform: translateX(-10px); /* Coloca la sombra a la izquierda */
    }

    h3{
        color: $dark-blue;
        padding-bottom: 30px;
    }
}

.aboutus__work-button{
    background-color: transparent;
    border: 1px solid $bright-blue;
    border-radius: 3px;
    padding: 10px;
    font-family: "Oxanium", sans-serif;
    @include text-style (17px, $bright-blue);

    &:hover{
        cursor: pointer;
        @include float;
    }
}
.aboutus__work-text{
    padding: 30px;
    li{
        padding: 5px;

        span{
            color: $med-blue;
            font-weight: bold;
        }
    }
}
/*===============FIN ABOUT US PAGE===============*/