
/*===============SERVICE PAGE ===============*/
.service-page_backgroud{
    background-color: #d1d2d8a6;
    margin: 0; 
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative; /*en relacion al video*/
    z-index: 2; /*estar adelante del vídeo pero detrás del menú del móvil*/
}
/*-----background video------*/
.video-background {
    position: relative;
    overflow: hidden;
    @include size (100%, 100%);

    video{
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, -50%); /* Centraliza el vídeo */
        @include size (auto, auto);
        min-width: 100%; 
        min-height: 100%; 
    }
}


.service-page__title{
    @include text-style (null, $med-blue, null, center);
    margin: 0;
    padding-bottom: 30px;
}
.service-page__details{
    position: relative;
    border: 1px solid $bright-blue; 
    border-radius: 5px; 
    padding: 10px; 
    margin: 0 auto; 
    background-color: $white;
    opacity: 0;

    &:nth-child(2) {
        @include opacity(0s); 
    }
    
    &:nth-child(3) {
        @include opacity(0.5s);
    }
    &:nth-child(4) {
        @include opacity(1s);
    }
    
    &:nth-child(5) {
        @include opacity(1.5s); 
    }
    
    &:nth-child(6) {
        @include opacity(2s);
    }
    
    &:nth-child(7) {
        @include opacity(2.5s);
    }

    &:hover{
        background-color: $light-blue;
        border: 2px solid $bright-blue; 
    }

    .service-page__summary{
        @include text-style(15px, $dark-blue2, bold);
        list-style: none;
        cursor: pointer; 
        padding: 5px; 
        height: 70px;

        img{
            vertical-align: middle;
        }
    }

    p{
        @include text-style(17px);
        padding: 20px;
    }

    ul{
        list-style: none;
        li{
            @include flex-layout (column, center, center);
            @include text-style(14px, null, null, center);
            padding: 10px;
            margin-left: 30px;
            
            img{
                @include size(80px, 80px);
                padding-bottom: 10px;
            }
            span{
                @include text-style (14px, $med-blue, bold)
            }
        }
    }

    .service-page__details-link{
        @include text-style (14px, $med-blue);
        text-decoration: none;
        font-family: "Oxanium", sans-serif;
        padding: 20px;
    }
}

.expand-icon{
    margin-left: 10px; 
    color: $med-blue;
}
/*=============== FIN DEL SERVICE PAGE ===============*/