
/*===============SERVICE PAGE ===============*/
.service-page_backgroud{
    background-color: $gray;
    margin: 0; 
    padding-top: 50px;
    padding-bottom: 50px;
}
.service-page__title{
    @include text-style (null, $med-blue, null, center);
    margin: 0;
    padding-bottom: 30px;
}
.service-page__details{
    border: 1px solid $bright-blue; 
    border-radius: 5px; 
    padding: 10px; 
    margin: 0 auto; 
    background-color: $white;
    opacity: 0;

    &:nth-child(2) {
        @include opacity(0s); 
    }
    
    &:nth-child(3) {
        @include opacity(0.5s);
    }
    &:nth-child(4) {
        @include opacity(1s);
    }
    
    &:nth-child(5) {
        @include opacity(1.5s); 
    }
    
    &:nth-child(6) {
        @include opacity(2s);
    }
    
    &:nth-child(7) {
        @include opacity(2.5s);
    }

    &:hover{
        background-color: $light-blue;
        border: 2px solid $bright-blue; 
    }

    .service-page__summary{
        list-style: none;
        cursor: pointer; 
        padding: 5px; 
        height: 70px;
        font-size: 15px;

        img{
            vertical-align: middle;
        }
    }

    p{
        @include text-style(15px);
        padding: 20px;
    }

    ul{
        li{
            @include text-style(14px);
            padding: 10px;
            margin-left: 30px;
            span{
                @include text-style(14px, $dark-blue, bold);
            }
        }
    }

    .service-page__details-link{
        @include text-style (14px, $med-blue);
        text-decoration: none;
        font-family: "Oxanium", sans-serif;
        padding: 20px;
    }
}

.services__icon, .expand-icon{
    display: inline-block; /*para centralizar verticalmente*/
    vertical-align: middle; 
}
.expand-icon{
    margin-left: 10px; 
    color: $med-blue;
}
/*=============== FIN DEL SERVICE PAGE ===============*/