

/* ################################################ RESPONSIVIDAD para TABLET / PC #######################################################*/

@media screen and (min-width: 800px){
    /*===============HEADER===============*/
    .header__open-nav-button{
    display: none
    }
    .header__nav{
    display: flex;
    position: static; /*saca el position absolute*/
    justify-content: space-between;
    background-image: none;
    @include size (100%, auto);
    }
    .header__nav-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    @include size (100%, auto);
    }
    .header__nav-list-links{
    display: flex; /* Flex para elementos de la izquierda*/
    justify-content: center;
    flex-grow: 1; /* Permite ocupar el espacio restante. */
    }
    .header__nav-list{
        li{
            margin: 0 10px;
        }
    }

    /*===============FOOTER===============*/
    footer{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto, auto;
        justify-items: center;
    }
    .footer__logo{
        grid-column: 1;
        grid-row: 1;
        transform: translateY(30px);
        margin-bottom: 0;
    }
    .Social-media-icons{
        grid-column: 1;
        grid-row: 2;
    }
    .footer__nav:nth-of-type(1) {
        grid-column: 2;
        grid-row: 1 /span 2;
        padding-bottom: 20px;
    } 
    .footer__nav:nth-of-type(2) {
        grid-column: 3;
        grid-row: 1 /span 2;
        padding-bottom: 20px;
    }
    .footer__button{
        grid-column: 4;
        grid-row: 1;
    }
    .footer__TC-links{
        grid-column: 4;
        grid-row: 2;
        flex-direction: column;
    }
    /*=============== FIN del FOOTER===============*/

    /* =============== INDEX ===============*/
    /*----------PARTE 1 - Presentacion ------------*/
    .presentation {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto 1fr; 
    justify-content: center;
    justify-items: center;
    gap: 0;
    padding-left: 30px;
    }
    .presentation__box-1 {
    grid-column: 1; 
    grid-row: 1; 
    }
    .presentation__box-2{
    grid-column: 2; 
    grid-row: 1; 
    margin-top: 20px;
    margin-right: 20px;
    }
    .presentation__box-3 {
    grid-column: 1 / span 2; 
    grid-row: 2; 
    }

    /*------------ PARTE 2 - Servicios ------------*/
    .services__grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    }
    .services__box:nth-child(1){
    border-bottom: 1px solid $dark-blue;
    }
    .services__box:nth-child(2), .services__box:nth-child(3) {
    border-left: 1px solid $dark-blue;
    border-bottom: 1px solid $dark-blue;
    }
    .services__box:nth-child(5), .services__box:nth-child(6) {
    border-left: 1px solid $dark-blue;
    }

    /*------------ PARTE 3 - WHY SafeBox ------------*/
    .whysafebox__reasons-wrap{
    display: flex;
    margin-top: 20px;
    }

/*=============== SERVICES===============*/
    
    .service-page__details{
        @include size (90%, auto, 1000px)
    }

/*=============== ABOUT US===============*/
    .aboutus__ourvision {
        p{
            max-height: none; /* Sem altura máxima para telas grandes */
            overflow: visible;
        }
    }
    /*=============== ARTICLES ===============*/
    .highlights{
        flex-direction: row;
        align-items: flex-start;
    }
    .highlights__article{
        @include translate-y;
        &:first-child{
            flex: 2;
        }

        &:last-child{
        flex: 1;
        border-top: none;
        border-left: 1px solid $dark-blue;
        animation-delay: 2s;
        opacity: 0;
        }
    }
    

    .articles-page__subtitle{
        margin-top: 10px;
        margin-left: 130px;
    }
    .all-articles{
        max-width: 90%;
        margin: auto;
        margin-top: -1px;
        margin-bottom: 30px;
    }
    .all-articles__article {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr; 
        grid-template-rows: auto auto;
        gap: 1rem;
        grid-template-areas:
            "date title img"
            "date paragraph img";
        padding: 20px;
    }

    .all-articles__date {
        grid-area: date;
        margin: auto;
    }

    .all-articles__article-title {
        grid-area: title;
    }

    .all-articles__paragraph {
        grid-area: paragraph;
    }

    .all-articles__article-img {
        grid-area: img;
        @include flex-layout (column, null, flex-start)
    }

    /*=============== CONTACT PAGE===============*/
    .contac-section, .other-contact{
        @include flex-layout (row, center);
    }
    .contact-section__form{
        min-width: 50%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .contact-section__form {
        legend,
        textarea {
            grid-column: 1 / span 2;
        }

        button {
            grid-column: 2;
            width: auto; // Arregla el problema de que el button estaba cortando la palabra "send"
        }
    }
    .other-contact__channels{
        margin: 40px;
        }
    .other-contact__location{
        margin: 40px;
        @include size (50%, null, 400px);
    }
}


@media screen and (min-width: 1024px){
    /*=============== ABOUT US PAGE===============*/
    
    .carousel-content{
    @include flex-layout(row, null, center);
    }

    .aboutus__work--button-box{
    position: relative;
    background: linear-gradient(to right, $gray, $white);
    padding: 20px;
    text-align: center;
    @include size (80%, auto, 500px);
    }
    .aboutus__work-text{
    width: 50%;
    }
    .aboutus__work{
        @include flex-layout (row, center, center);
    }
}
